.content-pane{ 
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start;
    position: absolute;
    top:45px; bottom: 35px;
    left: 5px; right: 5px;

    padding: 10px;

    border-style: solid;
    border-radius: 8px;
    border-color: rgb(26, 31, 95);
    background-color: rgba(77, 87, 226, 0.329);



    height: auto;

}

.content-input {
    background-color: moccasin !important;
    border: none;
}

.content-label {
    font-weight: bold;
}

.client-importer {
    position: relative;
    width: 15vw;
    height: 30vh;

    background-color: LightSteelBlue !important;

}



input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px moccasin inset;
  transition: background-color 5000s ease-in-out 0s;
}