.content-pane{ 
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start;
    position: absolute;
    top:55px; bottom: 35px;
    left: 5px; right: 5px;

    padding: 10px;

    border-style: solid;
    border-radius: 8px;
    border-color: rgb(26, 31, 95);
    background-color: rgba(77, 87, 226, 0.329);



    height: auto;

}

.client-importer {
    position: relative;
    width: 15vw;
    height: 30vh;

    background-color: LightSteelBlue !important;

}



.client-label {
    display: block;
    color: black;
    font-weight: normal;
}

.client-label-pointer {
    display: block;
    color: DarkBlue;
    font-weight: bold;
}