.navpane {
    position: relative;
    top: 0vh; bottom: 6vh;

    margin: 3px;
    padding: 4px;

    min-height: 90vh;

    background-color: azure;
    min-width: 15vw;
    max-width: 250px;
    border: black;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;

    text-align: left;
}

.navpane-searchbar {
    position: relative;
    top: 0px;

    height: 2.5vh;
}

input {
    position: relative;
    top: 0px; left: 0px;

    height: 60%;
    width: 70%;

}


.navpane-button {
    position: static;
    top: 0vh; bottom: 3pv;
    left: .1vw;

    margin-left: .5vw;

    width: auto;
    height: 60%;

    font-size: 1vh;
}

.navpane-content {
    position: relative;
    top: 1vh; bottom: 3vh;

    height: 81vh;

    padding: 10px;

    background-color: LightSteelBlue;
    border: black;
    border-style: ridge;
    border-radius: 5px;
    border-width: 1px;
}

.client-label {
    display: block;
    color: black;
    font-weight: normal;
}

.client-label-pointer {
    display: block;
    color: DarkBlue;
    font-weight: bold;
}