
.CalendarPane{
}

.cs1 {
    height: auto;
    margin: 10px;

    min-height: 29%;;
}

.CalendarPane-basicCalendar-container {
    margin: 5px;
}

.CalendarPane-calTable {
    width: 100%;

}

.calTable-monthLbl {
    text-align: center !important;
}

.tableRow {
    text-align: center;
}

.cal-popup-disp-item {
    margin-left: 5px !important;
}