.ClientPane {
    position: relative;
}
.ClientInfo-content {
    margin: 0px;
    padding: 1px;
}

.ClientInfo-field {
    flex: auto;
    flex-direction: row;

    margin: 10px;
    margin-left: 20px;
}

.ClientInfo-field-label {
    position: relative;
    display: inline-block;

}

.ClientInfo-field-input {
    position: relative;
    float: right;

    width: 60% !important;
    margin-right: 10px;
}

.ClientPane-dropdown {
    float: right;

    width: 150px;
    max-width: 175px;
    margin-right: 10px;
}