.ClientPane {
}
.ClientPane-content {
    background-color: rgba(217, 221, 136, 0.75) !important;

    border-style: ridge;

    margin: 10px;
    padding: 1px;
}

.ClientInfo-field {
    flex: auto;
    flex-direction: row;


    margin: 10px;
}

.ClientInfo-field-label {
    position: relative;
    display: inline-block;

}

.ClientInfo-field-input {
    position: relative;
    float: right;

    max-width: 175px;
    margin-right: 10px;
}

.ClientPane-dropdown {
    float: right;

    width: 150px;
    max-width: 175px;
    margin-right: 10px;
}