.NavPane-searchbar {
    display: flex;
    flex-direction: column;
    align-self: left;
    margin: 3px;
    margin-left: 10px;
}

.NavPane-searchbar-line {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.NavPane-search-input {
    display: flex;
    order:1;
}

.NavPane-button {
    display: flex;
    order: 2;
    margin-left: 10px;

}

.NavPane-content {
    flex: auto;

    flex-direction: column;
    order: 5;

    margin: 10px;
    padding: 4px;

    border-color: navy;
    border-style: groove;
    border-radius: 3px;
    border-width: 2px;
    background-color: papayawhip;

    overflow-y: auto;
}


.ClientDirectory-label {
    display: block;
    color: black;
    font-weight: normal;
}


.ClientDirectory-label-pointer {
    display: block;
    color: DarkBlue;
    font-weight: bold;
}

.ClientDirectory-nested {
    margin-left: 15px;
}

.ClientDirectory-nested-label {
    display: block;
    color: black;
    font-weight: normal;
}

.ClientDirectory-nested-label-pointer {
    display: block;
    color: DarkBlue;
    font-weight: bold;
}