.content-pane{ 
    position: relative;
    top:5px; 

    display: flex;
    flex-wrap: wrap;

    width: 100%;
    min-height: 94vh;

    padding: 10px;

    
}

.content-input {
    background-color: moccasin !important;
    border: none;
}

.content-label {
    font-weight: bold;
}

.client-importer {
    position: relative;
    width: 15vw;
    height: 30vh;

    background-color: LightSteelBlue !important;

}



input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px moccasin inset;
  transition: background-color 5000s ease-in-out 0s;
}