.ClientPane {
}
.ClientPane-content {
    background-color: lightsteelblue !important;

    margin: 10px;
    padding: 3px;
}

.ClientPane-field {
    flex: auto;
    flex-direction: row;


    margin: 10px;
}

.ClientPane-field-label {
    position: relative;
    display: inline-block;

}

.ClientPane-field-input {
    position: relative;
    float: right;

    max-width: 175px;
    margin-right: 10px;
}

.ClientPane-dropdown {
    float: right;

    width: 150px;
    max-width: 175px;
    margin-right: 10px;
}