.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header-title {
  margin-top: .25vh;
  margin-bottom: .25vh;

  text-align: left;
  font-size: 1.5vh;
}
.App-header-menu {
  position: relative;
  top:0px;

  margin-top: .25vh;
  margin-bottom: .25vh;

  padding-top: .25vh;
  padding-bottom: .25vh;

  width: 100vw;
  text-align: left;
  font-size: 1vh;
  max-height: 1.5vh;
  justify-content: left;
  
}

.App-link {
  color: #61dafb;
}

