.App {
  background-color: darkslategrey;
  text-align: left;
}




.App-header-menu {
  position: relative;
  top:0px;

  margin-top: .25vh;
  margin-bottom: .25vh;

  padding-top: .25vh;
  padding-bottom: .25vh;

  width: 100vw;
  text-align: left;
  font-size: 1vh;
  max-height: 1.5vh;
  justify-content: left;
  
}

.App-link {
  color: #61dafb;
}

.App-Window {
  margin-top: .25vh;
  margin-bottom: .25vh;
  margin-left: .25vw;

.App-Border1{
  background-color: azure;
  border: black;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
}

.App-Window-Title {
  float:left;
  margin-left: 1vw;
  margin-right: 1vw;
  left: 1vw;
  font-size: 1.5vh;
  font-weight: bold;

}
.App-Window-CloseBtn {
  position: relative;
  float: right;
}