
.CalendarPane{
}

.cs1 {
    height: auto;
    margin: 10px;

    min-height: 29%;;
}

.CalendarPane-basicCalendar-container {
    margin: 5px;
}

.CalendarPane-calTable {
    width: 100%;

}

.calTable-monthLbl {
    text-align: center !important;
}

.tableRow {
    text-align: center;
}

.cal-popup-disp-item, .fc-event-title {
    margin-left: 3px !important;
    font-weight: 1000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fc-button {
    max-height: 30px;
    padding-top: 1px !important;
    font-size: .25em;
    margin-bottom: 3px !important;   
}
.fc-toolbar-title {
    font-size: 1.25em !important;
}
.fc table {
    font-size: .85em;
}
.fc-daygrid-day-number {
    padding-top:1px !important;
    padding-bottom: 1px !important;
}

.fc-event-main {
    font-size: .3em;
    overflow: hidden;
}

.fc-theme-standard, .fc-theme-standard td, .fc-theme-standard th {
    border-color: black !important;
}

.fc-media-screen {
    background-color: var(--SecondaryDark, black);
}

.fc-view-harness, .fc-view-harness-active, .fc-daygrid {
    background-color: var(--SecondaryLight, White);
    border-radius: 10px;
}

.fc-scrollgrid-liquid {
    border-radius: 10px;
}


