.title-bar-header {
  position: absolute;
  top: 0px; left: 0px; right:0px;
  background-color: #282c34;
  min-height: 50px;
  height: 50px;

  flex-direction: column;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}
.title-bar-header-title {
  margin-top: .25vh;
  margin-bottom: .25vh;

  text-align: left;
  font-size: 1.5vh;
}

.menu-button {
    position: relative;
    align-items: start;
  
    margin-left: .1vw;
    margin-right: .15vw;
  
    padding:0;
  
    font-size: 1vh;
    text-align: center;
  
    min-width: 10vw;
    max-height: 1.5vh;
  }